
@{
    ViewBag.Title = "AdminChain";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<section id="contend">
    <div class="container px-4 py-5">
        <h2 class="pb-2 border-bottom">Chain</h2>

        @using HackatonAnketApp.classes;
        <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-3">
            @model List<QuestChain>
            @foreach (var item in Model)
            {

                <!-- Anket Başlangıc-->

                <!-- Modal Triger-->
                <div class="col-md-4" data-bs-toggle="modal" data-bs-target="#exampleModal_@item.quest.anketId">
                    <div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-3 shadow-lg">
                        <div class="d-flex flex-column h-100 px-3 py-5 text-white text-shadow-1">
                            <h2 class="display-6 lh-1 fw-bold">@item.quest.anketAd</h2>
                        </div>
                    </div>
                </div>
                <!-- Modal Başlagnıc-->
                <div class="modal fade" id="exampleModal_@item.quest.anketId" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-scrollable">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Anket Adı</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <div class="row">
                                    @foreach (var block in item.blocks)
                                    {
                                        <!---->
                                        <div class="col-md-6 py-2">
                                            <div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-3 shadow-lg">
                                                <div class="d-flex flex-column h-100 px-2 py-3 text-white text-shadow-1">
                                                    <h4 class="">@block.blockNo</h4>
                                                </div>
                                            </div>
                                        </div>
                                        <!---->
                                    }
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Kapat</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Modal Bitiş -->
                <!-- ----------------------------------------------------------- -->


                <!-- Anket Bitiş-->
            }
        </div>
    </div>
</section>
