<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>

    <!-- Bootstrap  -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

    <!-- JQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.slim.js" integrity="sha256-HwWONEZrpuoh951cQD1ov2HUK5zA5DwJ1DNUXaM6FsY=" crossorigin="anonymous"></script>
    <!-- JQuery Input Mask-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.inputmask/5.0.7-beta.29/jquery.inputmask.min.js" integrity="sha512-Ax4+qW2rAVWrk3SU1ef/L8O0jF6vKSfaMIR3du6efzf5v/pibzDcLFx29YCeR7WphoPO4zranQFsFUf+9Rb+dg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <!-- Sweet Alert -->
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
</head>
<body class="bg-light">

    <header>
        <div class="container py-2 bg-light">
            <div class="row">
                <div class="col-6 pt-2"><h3>Anket Program</h3></div>
                <div class="col-6 py-2">
                    <div class="dropdown float-end">
                        <a class="nav-link  dropdown-toggle btn bg-primary text-white" href="#" data-bs-toggle="dropdown">  Ad Soyad  </a>
                        <!-- Kullanıcı Alt Menü -->
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="/Home/BtnExit"> Çıkış </a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal -->
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <div class="container">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#main_nav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="main_nav">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item"> <a class="nav-link" href="/Admin/Index">Anketler</a> </li>
                        <li class="nav-item"><a class="nav-link" href="/Admin/AdminChain">Chain</a></li>
                    </ul>
                </div> <!-- navbar-collapse.// -->
            </div> <!-- container-fluid.// -->
        </nav>
    </header>


    @RenderBody()


    <footer>
        <div class="container-flued bg-primary fixed-bottom p-1 px-4 text-right text-white">
            Hachathon Proje
        </div>
    </footer>

    <script>
        $(document).ready(function () {
            $('nav a[href^="' + location.pathname.split("C:/Users/berke/Desktop/odevTema/")[1] + '"]').addClass('active');

            const queryString = window.location.search;
            const urlParams = new URLSearchParams(queryString);
            const durum = urlParams.get('durum');
            if (durum == "ok") {
                sweetAlert('Başarılı', "İşlem Başarılı", "success");
            } else if (durum == "no") {
                sweetAlert('Hata', "Bir hata oluştu", "error");
            }
        });
    </script>

</body>
</html>